In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [2]:
df = pd.read_csv('car_data.csv')

In [1]:
print(df.shape)
df.head()

NameError: name 'df' is not defined

In [2]:
df.describe()

NameError: name 'df' is not defined

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
Car_Name         301 non-null object
Year             301 non-null int64
Selling_Price    301 non-null float64
Present_Price    301 non-null float64
Kms_Driven       301 non-null int64
Fuel_Type        301 non-null object
Seller_Type      301 non-null object
Transmission     301 non-null object
Owner            301 non-null int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.2+ KB

In [6]:
print(df['Seller_Type'].unique())
print(df['Owner'].unique())
print(df['Transmission'].unique())

['Dealer' 'Individual']
[0 1 3]
['Manual' 'Automatic']

In [7]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [8]:
final_df =df.drop('Car_Name', axis=1)

In [9]:
final_df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [10]:
final_df['current_yr']=2021

In [11]:
final_df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,current_yr
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2021
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2021
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2021
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2021
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2021

In [12]:
final_df['yr_old']=final_df['current_yr']-final_df['Year']
final_df =df.drop('current_yr', axis=1)

KeyError: "['current_yr'] not found in axis"

In [ ]:
final_df.head()

In [ ]:
final_df =final_df.drop('Year', axis=1)

In [ ]:
final_df.head()

In [ ]:
final_df=pd.get_dummies(final_df,drop_first=True)

In [ ]:
final_df.head()

In [ ]:
final_df.corr()

In [ ]:
sns.pairplot(final_df)

In [ ]:
sns.heatmap(final_df.corr())

In [ ]:
y = final_df['Selling_Price']
X = final_df.drop('Selling_Price', axis=1)

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
model_etr = ExtraTreesRegressor()
model_etr.fit(X,y)

In [ ]:
print(model_etr.feature_importances_)

In [ ]:
feat_importance = pd.Series(model_etr.feature_importances_,index=X.columns)
feat_importance.plot(kind='barh')

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model_rfr = RandomForestRegressor()
param_grid = [
    {'n_estimators' : [int(x) for x in np.linspace(100,1200, num=6)],
     'max_features' : ['auto', 'sqrt'],
     'max_depth'   : [int(x) for x in np.linspace(5,30, num=6)],
    'min_samples_leaf' : [1,2,5,10],
    'min_samples_split' : [2,5,10,15,100]}]

In [ ]:
from sklearn.model_selection import GridSearchCV
reg = GridSearchCV(model_rfr, param_grid = param_grid, cv = 2, verbose=True, n_jobs=-1)

In [ ]:
reg.fit(X_train,y_train)

In [ ]:
result = reg.predict(X_test)
sns.distplot(y_test-result)

In [ ]:
import pickle
data_file = open('model_rfr_file.pkl', 'wb')
pickle.dump(reg,data_file)